<main xmlns:th="http://www.thymeleaf.org">
    <div class="text-center" style="margin-bottom: 10px">
        <!-- Button HTML (to Trigger Modal) -->
        <a href="#myModal" class="btn btn-primary" data-toggle="modal">Synchronize genres</a>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Genre synchronization will restart now and it will continue to synchronize in one hour intervals
                        starting from now.</p>
                </div>
                <div class="modal-footer">
                    <form method="get" th:action="@{'/admin/start'}">
                        <!--<a th:href="@{/admin/start}" class="btn btn-primary" data-dismiss="modal">Confirm</a>-->
                        <input type="submit" class="btn btn-primary" id="start" value="Confirm"/>
                    </form>
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-sm table-dark col-md-6 offset-md-3 text-center align-middle">
        <thead>
        <tr>
            <th class="align-middle" scope="col">Username</th>
            <th class="align-middle" scope="col">First Name</th>
            <th class="align-middle" scope="col">Last Name</th>
            <th class="align-middle" scope="col">Email</th>
            <th class="align-middle" scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <div th:id="${'deleteModal' + user.id}" id="deleteModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" th:action="@{${'/admin/delete-user?userId=' + user.id}}">
                                <input type="submit" class="btn btn-danger" value="Delete"/>
                            </form>
                            <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <td class="align-middle" th:text="${user.username}"></td>
            <td class="align-middle" th:text="${user.firstName}"></td>
            <td class="align-middle" th:text="${user.lastName}"></td>
            <td class="align-middle" th:text="${user.email}"></td>
            <!--<td>-->
                <!--<form method="get" th:action="@{${'/admin/update-user/' + user.id}}">-->
                    <!--<input type="submit" class="btn btn-primary" id="update-user-button" value="Update"/>-->
                <!--</form>-->
            <!--</td>-->
            <td style="vertical-align: inherit;">
                <div style="vertical-align: inherit;">
                    <a th:href="${'#deleteModal' + user.id}" class="btn btn-danger" data-toggle="modal">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6" >
                <a class="btn btn-primary group-child" th:href="@{/admin/create-user}" id="create-user-button">Create
                    User</a>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-sm table-dark col-md-6 offset-md-3 text-center">
        <thead>
        <tr>
            <th class="align-middle" scope="col">Title</th>
            <th class="align-middle" scope="col">Duration</th>
            <th class="align-middle" scope="col">Avg. Rank</th>
            <th class="align-middle" scope="col">Update</th>
            <th class="align-middle" scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="playlist : ${playlists}">
            <div th:id="${'deletePlaylist' + playlist.id}" id="deleteModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" th:action="@{${'/admin/delete-playlist?playlistId=' + playlist.id}}">
                                <input type="submit" class="btn btn-danger" value="Delete"/>
                            </form>
                            <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <td class="align-middle" th:text="${playlist.getTitle()}"></td>
            <td class="align-middle" th:text="${playlist.getDuration()}"></td>
            <td class="align-middle" th:text="${playlist.getRank()}"></td>
            <td>
                <form method="get" th:action="@{${'/update-playlist/' + playlist.id}}">
                    <input type="submit" class="btn btn-primary" id="update-user-button" value="Update"/>
                </form>
            </td>
            <td style="vertical-align: inherit;">
                <div >
                    <a th:href="${'#deletePlaylist' + playlist.id}" class="btn btn-danger"
                       data-toggle="modal">Delete</a>
                </div>
            </td>
        <tr>
            <td colspan="5">
                <a class="btn btn-primary group-child" th:href="@{/generation}" id="create-playlist-button">Generate
                    playlist</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>