<main xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>Generate Playlist</h1>
        <div class="row h-100">
            <form class="col-lg-12 col-md-12" action="#" th:action="@{/generation}" th:object="${form}" method="post">
                <div style="text-align: center; margin: 10px auto 0px auto;">
                    <i th:if="${error != null}" th:text="${error}" class="error"/>
                </div>
                <div style="width: 300px; margin: 10px auto 40px auto;">
                    <input class="form-control" placeholder="Playlist Title" aria-label="Playlist Title" type="text"
                           id="playlistTitle" name="playlistTitle" style="font-size: 20px;"
                           th:field="*{playlistTitle}" required/>
                </div>
                <div style="display: inline-flex; flex-direction: row; flex-wrap: wrap;">
                    <input class="form-control" placeholder="From Country Region" aria-label="Country Region"
                           type="text" id="countryRegionFrom" name="countryRegionFrom"
                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{countryRegionFrom}" required/>
                    <input class="form-control" placeholder="District" aria-label="District" type="text"
                           id="adminDistrictFrom" name="adminDistrictFrom"
                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{adminDistrictFrom}" required/>
                    <input class="form-control" placeholder="Locality" aria-label="Locality" type="text"
                           id="localityFrom" name="localityFrom"
                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{localityFrom}" required/>
                    <input class="form-control" placeholder="Postal Code" aria-label="Postal Code" type="text"
                           id="postalCodeFrom" name="postalCodeFrom"
                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{postalCodeFrom}" required/>
                    <input class="form-control" placeholder="Address Line" aria-label="Postal Code" type="text"
                           id="addressLineFrom" name="addressLineFrom" style="width: 190px; margin-bottom: 20px;"
                           th:field="*{addressLineFrom}" required/>

                </div>
                <div style="display: inline-flex; flex-direction: row; flex-wrap: wrap;">
                    <input class="form-control" placeholder="To Country Region" aria-label="Country Region" type="text"
                           id="countryRegionTo" name="countryRegionТо"
                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{countryRegionTo}" required/>
                    <input class="form-control" placeholder="District" aria-label="District" type="text"
                                                                           id="adminDistrictTo" name="adminDistrictТо"
                                                                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                                                                           th:field="*{adminDistrictTo}" required/>
                    <input class="form-control" placeholder="Locality" aria-label="Locality" type="text" id="localityTo"
                           name="localityТо" style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{localityTo}" required/>
                    <input class="form-control" placeholder="Postal Code" aria-label="Postal Code" type="text"
                           id="postalCodeTo" name="postalCodeТо"
                           style="margin-right: 30px; width: 190px; margin-bottom: 20px;"
                           th:field="*{postalCodeTo}" required/>
                    <input class="form-control" placeholder="Address Line" aria-label="Postal Code" type="text"
                           id="addressLineTo" name="addressLineТо"
                           style="width: 190px; margin-bottom: 20px;"
                           th:field="*{addressLineTo}" required/>


                </div>
                <div style="margin: 10px auto 40px 20%; display: flex; flex-wrap: wrap;">
                    <div class="custom-control custom-checkbox mb-3" style="margin-right: 30px;">
                        <input class="custom-control-input" type="checkbox" name="useTopTracks"
                               id="useTopTracks" th:field="*{useTopTracks}">
                        <label class="custom-control-label" for="useTopTracks" style="font-weight: lighter;">
                            Use Top Tracks
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" type="checkbox" name="allowSameArtist"
                               id="allowSameArtist" th:field="*{allowSameArtist}">
                        <label class="custom-control-label" for="allowSameArtist" style="font-weight: lighter;">
                            Allow tracks from the same artist
                        </label>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-3 offset-md-3 offset-sm-3 offset-1"
                     style="display: flex; flex-wrap: wrap;">
                    <div class="custom-control custom-checkbox mb-3" th:each="genre, itemStat : *{genreWithPercents}">
                        <input class="custom-control-input" type="checkbox" th:name="genreId" th:id="${genre.id}"
                               th:value="${genre.id}"
                               th:field="*{genreWithPercents[__${itemStat.index}__].initial}">
                        <label class="custom-control-label" th:for="${genre.id}" style="margin-top: 14px;"
                               th:text="${genre.getName()}">Rock</label>
                        <div class="reveal-if-active" style="display: inline-flex;">
                            <input type="text" name="percent" id="percent" placeholder="%" class="percents form-control"
                                   style="width: 55px;"
                                   th:field="*{genreWithPercents[__${itemStat.index}__].percent}">
                        </div>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Generate"
                       style="font-size: large; margin-left: auto; margin-right: auto; margin-top: 50px; display: flex;"/>
            </form>
        </div>
    </div>
</main>