<main xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid h-100" style="margin: 0px">
        <div class="row h-100">
            <div class="flex-grow-1"
                 style="position: sticky; top: 46px; text-align: center; padding-bottom: 10px; background: white; z-index: 1; clip: rect(0px, 0px, 0px, 0px);">
                <form class="text-info" action="#" th:action="@{/filterByTitle}" method="get"
                      style="display: inline-flex; align-items: baseline;">
                    <input class="form-control" type="search" placeholder="Title"
                           aria-label="Search" name="title" id="title"
                           style="margin-left: 10px; margin-right: 10px;">
                    <button class="btn btn-outline-info my-2" type="submit">
                        Search
                    </button>
                </form>
                <form class="text-info" action="#" th:action="@{/filterByGenre}" method="get"
                      style="display: inline-flex; align-items: baseline;">
                    <input class="form-control" type="search" placeholder="Genre"
                           aria-label="Search" name="genre" id="genre"
                           style="margin-left: 10px; margin-right: 10px;">
                    <button class="btn btn-outline-info my-2" type="submit">Search</button>
                </form>
                <form class="text-info" action="#" th:action="@{/filterByDuration}" method="get"
                      style="display: inline-flex; align-items: baseline;">
                    <input class="form-control" type="text" pattern="^((\d+:)?\d+:)?\d*$"
                           aria-label="From  hh:mm:ss" placeholder="From hh:mm:ss"
                           name="from" id="from" maxlength="8"
                           style="margin-left: 10px; margin-right: 10px; width: 140px;">
                    <input class="form-control" type="text" pattern="^((\d+:)?\d+:)?\d*$"
                           aria-label="To  hh:mm:ss" placeholder="To hh:mm:ss"
                           name="to" id="to" maxlength="8"
                           style="margin-left: 10px; margin-right: 10px; width: 140px;">
                    <button class="btn btn-outline-info my-2" type="submit">Search</button>
                </form>
            </div>

            <div class="col-md-8 offset-lg-2 offset-md-3 offset-sm-3 offset-2">
                <div class="card-deck" style="margin-top: 20px; margin-bottom: 20px;">
                    <div th:each="playlist : *{playlists}">
                        <div class="card" style="max-width: 300px; margin-bottom: 20px;">

                            <img th:if="${playlist.getImageURL() == null || playlist.getImageURL().length() == 0}"
                                 class="card-img-top"
                                 src="http://placehold.it/300x200" alt=""
                                 style="width:300px; height:200px;">
                            <img th:if="${playlist.getImageURL() != null && playlist.getImageURL().length() > 1}"
                                 class="card-img-top"
                                 th:src="${playlist.getImageURL()}" alt=""
                                 style="width:300px; height:200px;"/>

                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title" th:text="${playlist.getTitle()}" style="font-weight: bold;">
                                    Card title
                                </h5>
                                <p class="card-text">
                                    <i>Average rank: </i>
                                    <span th:text="${playlist.getRank()} ">Ranking 5</span>
                                </p>
                                <p class="card-text">
                                    <i>Duration: </i>
                                    <span th:text="${playlist.getDuration()} ">Rating: 5</span>
                                </p>
                                <a class="btn btn-primary" th:href="@{'/playlist-details/' + ${playlist.id}}">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>