<main xmlns:th="http://www.thymeleaf.org">
    <!--    <i th:if="${param.error}" class="error">Wrong username or password</i>-->
    <!--    <i th:if="${param.logout}">You have successfully logged out</i>-->
    <form id="login" class="form-horizontal col-md-4 offset-md-4" name="login" th:action="@{/login}" method="POST">
        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <div>
                <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md"
                       required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <div>
                <input id="password" name="password" type="password" placeholder="Password"
                       class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-*-auto text-center">
                <button id="submit" name="submit" type="submit" value="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </form>
</main>