<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/generation}" sec:authorize="isAuthenticated()">Generate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}"
                       sec:authorize="isAnonymous()">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/details}" sec:authorize="isAuthenticated()"
                       th:text="${#authentication.getName()}">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')"
                       th:text="Admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
