<main xmlns:th="http://www.thymeleaf.org">

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3" th:text="${playlist.getTitle()}"></h1>
            <p th:text="${'Average rank: ' + playlist.getRank()}">Average rank: </p>
            <p th:text="${'Duration: ' + playlist.getDuration()}">Duration: </p>
        </div>
    </div>
    <div class="container">
        <table id="show-tracks" class="table table-hover table-striped table-bordered table-dark" cellspacing="0"
               width="20%">
            <thead>
            <tr>
                <th class="th-sm">Name</th>
                <th class="th-sm">Artist</th>
                <th class="th-sm">Duration</th>
                <th class="th-sm">Play</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="track : ${tracks}">
                <td th:text="${track.title}"></td>
                <td th:text="${track.artist}"></td>
                <td th:text="${track.duration}"></td>
                <td>
                    <audio controls>
                        <source th:src="${track.preview}" type="audio/mpeg"/>
                        <a th:href="${track.preview}">horse</a>
                    </audio>
                </td>
            </tr>
            </tbody>
            <tfoot>
        </table>
    </div>
</main>