<main xmlns:th="http://www.thymeleaf.org">
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4" th:text="${playlist.getTitle()}"></h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="http://placehold.it/500x500" alt="">
        </div>

        <div class="col-md-6">
            <h3 class="my-3">Playlist Details</h3>
            <ul>
                <li>Duration</li>
                <li>Genre 1 in %</li>
                <li>Genre 2 in %</li>
                <li>Avg. rank</li>
            </ul>

            <div>
                <div class="toBeScrolled">
                <ul class="nav nav-pills nav-stacked anyClass">
                    <li class="nav-item"> Track name
                        <audio controls>
                            <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                            <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                            <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
                            An html5-capable browser is required to play this audio.
                        </audio>
                    </li>
                    <li class="nav-item">
                        <audio controls>
                            <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                            <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                            <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
                            An html5-capable browser is required to play this audio.
                        </audio>
                    </li>
                    <li class="nav-item">
                        <audio controls>
                            <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                            <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                            <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
                            An html5-capable browser is required to play this audio.
                        </audio>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>

</div>
<!-- /.container -->
</main>