<main xmlns:th="http://www.thymeleaf.org">
    <form class="form-group  col-md-4 offset-md-4" action="#" th:action="@{/register}" th:object="${user}"
          method="post">
        <div style="text-align: center; margin: 10px auto 0px auto;">
            <i th:if="${error != null}" th:text="${error}" class="error"/>
        </div>
        <div>
            <label for="register-username" th:text="#{label.username}">User Name</label>
            <input class="form-control" type="text" th:field="*{username}" id="register-username"/>
        </div>
        <div>
            <label for="register-password" th:text="#{label.password}">User Name</label>
            <input class="form-control" type="password" th:field="*{password}" id="register-password"/>
        </div>
        <div>
            <label for="register-password" th:text="#{label.passwordConfirmation}">User Name</label>
            <input class="form-control" type="password" th:field="*{passwordConfirmation}"
                   id="register-password-confirmation"/>
        </div>
        <div>
            <label for="register-email" th:text="#{label.email}">User Name</label>
            <input class="form-control" type="email" th:field="*{email}" id="register-email"/>
        </div>
        <div>
            <label for="register-first-name" th:text="#{label.firstName}">User Name</label>
            <input class="form-control" type="text" th:field="*{firstName}" id="register-first-name"/>
        </div>
        <div>
            <label for="register-last-name" th:text="#{label.lastName}">User Name</label>
            <input class="form-control" type="text" th:field="*{lastName}" id="register-last-name"/>
        </div>
        <div class="col-*-auto text-center">
            <input type="submit" class="btn btn-success" value="Register"/>
        </div>
    </form>
</main>