<main xmlns:th="http://www.thymeleaf.org">
    <form class="form-group col-md-4 offset-md-4" action="#" th:action="@{${'/update-playlist-user/' + playlist.getId()}}" th:object="${playlist}" method="post">
        <div>
            <label for="playlistTitle" th:text="#{label.title}"></label>
            <input class="form-control" type="text" th:field="*{title}" id="playlistTitle"/>
        </div>

        <div class="col-*-auto text-center">
            <input type="submit" class="btn btn-success" value="Update"/>
        </div>
    </form>
</main>