<main xmlns:th="http://www.thymeleaf.org">
    <form class="form-group col-md-4 offset-md-4" action="#" th:action="@{${'/update-playlist/' + form.getId()}}"
          th:object="${form}" method="post">
        <i th:if="${error != null}" th:text="${error}" class="error"/>
        <div class="form-group">
            <label for="playlistTitle" th:text="#{label.title}"></label>
            <input class="form-control" type="text" th:field="*{title}" id="playlistTitle"/>
        </div>
        <!--th:field="*{genres[__${itemStat.index}__].initial}"-->
        <div th:each="genre, itemStat : *{genres}">
            <!--<select class="form-control selectpicker" multiple="multiple" th:field="*{genres}">-->
                <!--<option th:each="genre, itemStat : *{genres}" th:value="${genre.id}"-->
                        <!--th:text="${genre.getName()}" th:field="*{genres}"></option>-->
            <!--</select>-->
            <input class="custom-control-input" type="checkbox" th:name="genreId" th:id="${genre.id}"
                   th:value="${genre.id}"
                   th:field="*{genres[__${itemStat.index}__].initial}">
            <label class="custom-control-label" th:for="${genre.id}" style="margin-top: 14px;"
                   th:text="${genre.getName()}">Rock</label>
        </div>


        <div class="col-*-auto text-center">
            <input type="submit" class="btn btn-success" value="Update"/>
        </div>
    </form>
</main>