<main xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="align-items-center">
                <h1><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h1>
                <h1 th:text="${user.email}"></h1>
            </div>
        </div>

        <div class="container">
            <table id="show-details" class="table table-hover text-center table-bordered table-sm" cellspacing="0"
                   width="20%">
                <thead>
                <tr>
                    <th class="th-sm">Title</th>
                    <th class="th-sm">Duration</th>
                    <th class="th-sm">Avg. Rank</th>
                    <th class="th-sm">Details</th>
                    <th class="th-sm">Update</th>
                    <th class="th-sm">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="playlist : ${playlists}">
                    <div th:id="${'deleteModal' + playlist.id}" id="deleteModal" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" th:action="@{${'/delete-playlist?playlistId=' + playlist.id}}">
                                        <input type="submit" class="btn btn-danger" value="Delete"/>
                                    </form>
                                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <td th:text="${playlist.getTitle()}"></td>
                    <td th:text="${playlist.getDuration()}"></td>
                    <td th:text="${playlist.getRank()}"></td>
                    <!--<td>-->
                       <!--<ul>-->
                           <!--<li th:each="genre : ${playlist.getGenres()}" th:text="${genre}"></li>-->
                       <!--</ul>-->
                    <!--</td>-->

                    <td>
                        <form method="get" th:action="@{${'/playlist-details/' + playlist.id}}">
                            <input type="submit" class="btn btn-primary" id="playlist-details-button" value="Details"/>
                        </form>
                    </td>
                    <td>
                        <form method="get" th:action="@{${'/update-playlist/' + playlist.id}}">
                            <input type="submit" class="btn btn-primary" id="update-playlist-button" value="Update"/>
                        </form>
                    </td>

                    <td style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;">
                            <a th:href="${'#deleteModal' + playlist.id}" class="btn btn-danger" data-toggle="modal">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
            </table>
        </div>
</main>