body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: monospace;
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

.error {
    color: red;
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    transform: scale(0.8);
    transition: 0.5s;
}

.reveal-if-active label {
    display: inline;
    margin: 0 0 3px 0;
}

.reveal-if-active input[type=text] {
    width: 25px;
}

input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    padding: 10px 20px;
    transform: scale(1);
    overflow: visible;
}

form {
    max-width: 500px;
    margin: 20px auto;
}

form > div {
    margin: 0 0 20px 0;
}

form > div label {
    font-weight: bold;
}

form > div > div {
    padding: 5px;
}

form > h4 {
    color: green;
    font-size: 24px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid green;
}

body {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#list-example {
    position: relative;
    overflow-y: scroll;
}

.toBeScrolled {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
}

/*<--------*/
.modal-confirm {
    color: #636363;
    width: 550px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    padding: 0 15px;
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    display: inline-block;
    font-size: 26px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    background: #ecf0f1;
    border-color: #e6eaec;
    text-align: right;
    margin: 0 -20px -20px;
    border-radius: 0 0 5px 5px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    transition: all 0.4s;
    border: none;
    padding: 8px 20px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #b0c1c6;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #92a9af;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.modal-confirm .modal-footer .btn + .btn {
    margin-left: 10px;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}