/*!
 * Start Bootstrap - Small Business (https://startbootstrap.com/template-overviews/small-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-small-business/blob/master/LICENSE)
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0;
    padding: 0;
}

.tags {
    display: inline-block;
    font-size: 14px;
    color: rgb(68, 68, 68);
    background-color: rgb(242, 242, 242);
    padding: 8px 20px;
    margin: 5px;
    border-radius: 12px;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}


#myInput {
    background-color: #f1f1f1;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 0.25rem;
}

#asubmit {
    background-color: DodgerBlue;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}