<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/small-business.css" rel="stylesheet" th:href="@{/css/small-business.css}"/>
</head>
<body>
<div class="container">
    <div class="jumbotron text-white bg-dark mb-3">
        <h1 class="display-4" th:text="${errorCode}">500</h1>
        <p class="lead" th:text="${errorStatus}">Spaghetti error.</p>
        <hr class="my-4">
        <p th:text="${errorDescription}">Oh no! Our spaghetti code is not working properly. We will be back soon!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/}" role="button">Go Home</a>
        </p>
    </div>
</div>
</body>
</html>