<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>
<p>Hello to the home page!</p>
<p sec:authorize="isAuthenticated()">
    User:<span sec:authentication="name"/><br/>
</p>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<p sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Login</a>
</p>
</body>
</html>
